.headerMargin {
	margin: 0 auto;
	width: 1200px;
}

.headerTitle {
	font-weight: bold;
}

.pageContentContainer {
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
}

.pageTitle .pageTitleIcon {
	vertical-align: middle;
	margin-right: 0.25em;
}
