.intervalInput {
	display: flex;
	flex: 1 1 auto;
	align-items: center;
}

.popoverContent {
	padding: 10px;
}

.yearInputRow {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.label {
	min-width: 100px;
}

.yearRangeSelectors {
	max-width: 400px;

	:global .bp3-button {
		margin-right: 5px;
		margin-bottom: 5px;
	}
}
