.headerMargin {
	margin: 0 auto;
	width: 1200px;
}

.headerTitle {
	font-weight: bold;
	cursor: pointer;
}

.pageContentContainer {
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	margin-bottom: 40px;
}

.pageTitle {
	display: flex;
	align-items: center;

	.pageTitleIcon {
		margin-right: 0.5em;
		display: 0 0 auto;
	}

	.pageTitleContent {
		flex: 1 1 auto;
	}

	.pageTitleActions {
		flex: 0 0 auto;
	}
}

.footer {
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	padding: 5px 10px;
	background-color: #171d22;
	text-align: center;
	box-shadow: 0 0 0 1px rgba(10, 13, 15, 0.6), 0 0 0 rgba(6, 9, 10, 0), 0 -1px 1px rgba(6, 9, 10, 0.6);
}
