.headerMargin {
	margin: 0 auto;
	width: 1200px;
}

.headerTitle {
	font-weight: bold;
	cursor: pointer;
}

.pageContentContainer {
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
}

.pageTitle {
	.pageTitleContent,
	.pageTitleIcon {
		vertical-align: middle;
	}

	.pageTitleIcon {
		margin-right: 0.5em;
	}
}
