.maxNumberOfSeriesReached {
	color: rgb(241, 115, 115);
}

.visibleSeries {
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 5px;
	margin-right: 5px;
	padding: 5px;
	font-size: 95%;
	font-weight: bold;
	display: flex;
	vertical-align: middle;
	margin-top: 2px;
	margin-bottom: 2px;

	a[class~="bp4-button"] {
		padding: 0px;
		width: 16px;
		min-width: 16px;
		height: 16px;
		min-height: 16px;
		line-height: 16px;
		display: inline-block;
		margin-left: 5px;
	}
}

.seriesFailedToLoad {
	background-color: maroon;
	color: white;
	margin: 0 5px;
	padding: 0 2px;
	display: inline-block;
}

.resetButton {
	float: right;
}
