$barColors: (green: rgb(87, 194, 110),
	yellow: rgb(211, 214, 31),
	red: rgb(194, 87, 87),
	blue: rgb(87, 121, 194),
	orange: rgb(218, 155, 38),
	purple: rgb(151, 87, 194),
	cyan: rgb(19, 170, 157),
	olive: rgb(150, 150, 52),
	slategray: rgb(48, 80, 80),
	magenta: rgb(148, 38, 130),
);

$barHeight: 20px;
$groupLabelFontSize: 12px;
$valueFontSize: 12px;

.titleBar {
	display: flex;
	align-items: center;
	margin-bottom: 5px;
}

.pyramidTitle {
	font-size: 18px;
	font-weight: bold;
	flex: 1 1 auto;
	background-color: rgba(255, 255, 255, 0.1);
	padding: 5px 10px;
	margin-right: 10px;
}

.seriesDescription {
	margin: 0 5px;
	display: flex;
	align-items: center;
}

.seriesDescriptionBox {
	width: 20px;
	height: 20px;
	display: inline-block;
	margin-right: 5px;

	@each $colorName,
	$colorValue in $barColors {
		&.#{"" + $colorName} {
			background-color: $colorValue;
		}
	}
}

.table {
	background-color: rgba(0, 0, 0, 0.4);
	border: 1px solid rgba(255, 255, 255, 0.3);
}

.tableHeaderRow {
	display: flex;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.4);

	>div {
		padding: 5px;
		font-weight: bold;
	}

	.groupLabel {
		flex: 0 0 250px;
	}

	.populationSize,
	.populationSizePrev {
		flex: 0 0 100px;
		text-align: right;
	}
}

.tableRow {
	display: flex;
	align-items: center;
	padding: 5px;

	.groupLabel {
		font-size: $groupLabelFontSize;
		padding-left: 5px;

		span {
			text-decoration: underline dotted rgba(255, 255, 0, 0.6);
		}
	}

	&:nth-child(2n+1) {
		background-color: rgba(255, 255, 255, 0.05);
	}
}

.groupLabel {
	flex: 0 0 250px;
}

.bars {
	flex: 0 0 400px;
	margin-right: 10px;
}

.barWrapper,
.populationSizeEntry,
.populationSizePrevEntry {
	box-sizing: content-box;

	@each $colorName,
	$colorValue in $barColors {
		&.#{"" + $colorName} {
			border-bottom: 1px dotted $colorValue;
		}
	}

	margin-right: 2px;
}

.bar {
	position: relative;
	height: $barHeight;

	@each $colorName,
	$colorValue in $barColors {
		.#{"" + $colorName}>& {
			background-color: $colorValue;
		}
	}
}

.commonPartBar {
	position: absolute;
	left: 0px;
	top: 0px;
	display: block;
	height: $barHeight;

	background: repeating-linear-gradient(-45deg,
			rgba(0, 0, 0, 0.15),
			rgba(0, 0, 0, 0.15) 10px,
			rgba(0, 0, 0, 0.3) 10px,
			rgba(0, 0, 0, 0.3) 20px);
}

.populationSize,
.populationSizePrev {
	flex: 0 0 100px;
}

.populationSizeEntry,
.populationSizePrevEntry {
	height: $barHeight;
	line-height: $barHeight;
	font-size: $valueFontSize;
	color: white;
	text-align: right;
	padding-right: 5px;

}

.populationSizeEntry {

	@each $colorName,
	$colorValue in $barColors {
		&.#{"" + $colorName} {
			background-color: transparentize($colorValue, $amount: 0.5);
		}
	}
}

.populationSizePrevEntry {

	@each $colorName,
	$colorValue in $barColors {
		&.#{"" + $colorName} {
			background-color: transparentize($colorValue, $amount: 0.7);
		}
	}
}
