@import "~@blueprintjs/core/lib/scss/variables";

body {
	background-color: $dark-gray2;

	.#{$ns}-select-popover {
		max-height: 400px;
		overflow: auto;
		overflow-x: hidden;
	}
}

.wspInput {
	margin-right: 15px;
}

.wspInput-selectInput {
	display: flex;
	align-items: center;

	.#{$ns}-popover-wrapper {
		display: inline-block;

		.#{$ns}-popover-target {
			display: inline-block;
		}
	}
}

.moduleCard {
	width: 300px;
	margin-right: 10px;
	margin-bottom: 10px;
	position: relative;
	overflow: hidden;

	h3 {
		margin: 0px;
	}

	.moduleCardIcon.#{$ns}-icon {
		opacity: 0.1;
		position: absolute;
		left: calc(100% - 80px);
		top: calc(5px);
	}

	&.unavailable {
		opacity: 0.4;
	}
}
