body {
	background-color: #263038;
}

.wspInput-selectInput {
	min-width: 200px;
	max-width: 200px;

	.bp3-popover-wrapper {
		display: block;

		.bp3-popover-target {
			display: block;
		}
	}
}

.moduleCard {
	width: 300px;
	margin-right: 10px;
	margin-bottom: 10px;
	position: relative;
	overflow: hidden;

	h3 {
		margin: 0px;
	}

	.moduleCardIcon.bp3-icon {
		opacity: 0.1;
		position: absolute;
		left: calc(100% - 80px);
		top: calc(5px);
	}

	&.unavailable {
		opacity: 0.4;
	}
}
